* {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 90px;
  background-color: aqua;
}
nav {
  width: 40%;
  height: 90px;
  padding: 20px 10px;
}
.nav-links {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}
.nav-link {
  cursor: pointer;
  color: azure;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: ;
  color: black;
}
